@font-face {
    font-family: "Iosevka Tiny";
    font-weight: normal;
    font-style: normal;
    src: url("assets/IosevkaTiny-Regular.woff2");
}

@font-face {
    font-family: "Iosevka Tiny";
    font-weight: bold;
    font-style: normal;
    src: url("assets/IosevkaTiny-Bold.woff2");
}

@font-face {
    font-family: "Iosevka Tiny";
    font-weight: normal;
    font-style: italic;
    src: url("assets/IosevkaTiny-Italic.woff2");
}

@font-face {
    font-family: "Iosevka Tiny";
    font-weight: bold;
    font-style: italic;
    src: url("assets/IosevkaTiny-BoldItalic.woff2");
}

html {
    background-color: whitesmoke;
    color: black;

    font-family: "Iosevka Tiny", Iosevka, monospace;

    --description-color: mediumseagreen;
    --projects-color: plum;
    --container-height: 60%;
    --container-width: 40%;
}

.title-text {
    text-decoration: underline;
    font-size: 2em;
}

.main-content {
    margin: auto;
    width: 70%;
}

h1 {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

h2::before {
    content: "•";
    margin-right: 0.5rem;
}

h2::after {
    content: "•";
    margin-left: 0.5rem;
}

article {
    padding: 5px;
    border: 2px solid black;
}

article > header {
    margin-bottom: 0.5rem;
}

article > header > h3 {
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

li {
    margin: 0.5rem;
}
